#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
group --name=admin
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'

# Halt after installation
halt
# Root password
rootpw --plaintext redhat
# System timezone
timezone America/Los_Angeles --ntpservers=mail.cracker.org
# Use network installation
url --url="http://ks.cracker.org/Kickstart/RHEL7/rhel7.1-beta-core"
# System language
lang en_US
user --groups=wheel --homedir=/home/bigchoo --name=bigchoo --password=[password] --iscrypted --uid=1001 --gecos="bigchoo" --gid=1001
# Firewall configuration
firewall --enabled --ssh --service=ssh,ssh,ssh,http,ssh
# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.1.49 --ip=192.168.1.51 --nameserver=192.168.1.99 --netmask=255.255.255.240
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System services
services --disabled="network,iptables,ip6tables" --enabled="NetworkManager,firewalld"
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --linux --initlabel --drives=sda

%post
echo "RUN_FIRSTBOOT=NO" > /etc/sysconfig/firstboot
echo "Kickstarted for class on $(date)" >> /etc/issue
%end

%packages
@base
@core
chrony
dracut-config-generic
dracut-norescue
firewalld
grub2
httpd
kernel
kexec-tools
rsync
tar
-plymouth

%end
