# No pop-up for partitioning confirmation
# not allow for /media to mount /dev/sda1
d-i preseed/early_command string umount /media
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select Finish partitioning and write changes to disk
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Resolves installation error
d-i live-installer/net-image string http://ks.cracker.org/Kickstart/ubuntu/14.04/install/filesystem.squashfs
